<div>
    <ul class="nav-menu">
        <li>
            <a href="#"><img src="../../../assets/facebook.png" alt=""></a>
        </li>
        <li>
            <a href="#"><img src="../../../assets/instagram.png" alt=""></a>
        </li>
        <li>
            <a href="#"><img src="../../../assets/github.png" alt=""></a>
        </li>
        <li>
            <a href="#"><img src="../../../assets/linkedin.png" alt=""></a>
        </li>
        <li>
            <a href="#"><img src="../../../assets/twitter.png" alt=""></a>
        </li>
    </ul>
</div>
